* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body {
    display: inline-block;
    text-decoration: none;
}


/* Nav Bar */
nav {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 210px;
    text-decoration: none;
}

nav a {
    flex: 100 0 200px;
    padding: 10px;
    font-size: 130%;
    color: black;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
}

nav a:hover {
    background-color: wheat;
}

nav a:active {
    font-size: 135%;
    box-shadow: 0 0 5px inset;
}

/* Main Content */
main {
    position: relative;
    text-align: left;
    margin-left: 210px;
    padding: 10px;
}


#profilepic{
    display: inline-block;
    height: 150px;
}

main p {
    display: inline-block;
    margin-right: 25px;
    margin-left: 20px;

}

.work {
    padding: 10px;
    width: 600px;
    height: 100px;
}

#resume-img {
    height: 500px;
    width: 300px;
}

/* Left Fixed Column */
aside {
    position: fixed;
    text-align: right;
    width: 200px;
    padding-right: 20px;
    height: 100%;
    margin-left: 0;
    border-style: solid;
    border-width: 0, 5px, 0, 0;
}

footer {
    margin-left: 210px;
    list-style-type: none;
    display: none;
}

footer li {
    display: inline-block;
    padding: 5px;
}

#contact {
    display: none;
}


@media screen and (max-width: 768px) {
    nav a {
        flex: 100 0 50%;
        flex-wrap: wrap;
        justify-content: center;
    }

    #contact {
        display: flex;
    }

    main {
        margin-left: 0;
    }

    aside {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0;
    }


    footer {
        display: contents;
        margin-left: 0;
    }
  }
